body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 100%;
}

#container {
	width: 100%;
	margin: 0px;
	background: #fff;
	margin: 0px;
}

a {
	color: #22c;
}

a:hover {
	color: #55c;
}

/*================================================================================================*/
/*====  H E A D E R  =============================================================================*/
/*================================================================================================*/
#header {
	padding: 10px;
	background: #ccc;
	height: 36px;
}

#header-title {
	float: left;
}

#header-title h1 {
	margin: 0px;
	float: left;
}

#header-title h1 a {
	color: #55a;
	text-decoration: none;
}

#header-title h1 a:hover {
	color: #77c;
}

/*================================================================================================*/
/*====  N A V I G A T I O N  =====================================================================*/
/*================================================================================================*/
#navigation {
	width: 100%;
	float: left;
	background: #333;
}

#navigation {
	background: #333;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
}

#navigation li {
	display: inline;
	list-style-type: none;
}

#navigation li a {
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border-right: 1px solid #fff;
}

#navigation li a.selected {
	background: #383;
}

#navigation li a:hover {
	background: #44a;
}

#navigation li a:hover.selected {
	background: #4a4;
}

/*================================================================================================*/
/*====  C O N T E N T  ===========================================================================*/
/*================================================================================================*/
#content {
	clear: both;
	padding: 10px;
}

h2, h3, h4 {
	margin: 0px;
}

#content h2 {
	font-size: 1.6em;
}

#content h3 {
	margin-top: 5px;
	font-size: 1.3em;
}

#content h4 {
	margin-top: 10px;
	font-size: 1.05em;
}

div.info {
	margin-top: 8px;
	padding: 4px 0px 4px 10px;
	border-left: 7px solid;
	padding: 4px 0px 4px 10px;
}

div.info {
	border-left-color: #40aa40;
	background: #cfc;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, th span.note {
	background-color: #d80;
	color: white;
}

th, td {
	padding: 2px;
}

tr {
	background: white;
}

tr.alt {
	background-color: #fec;
}

form ul {
	margin: 0px;
	padding: 0px;
}

form ul li {
	display: block;
	list-style-type: none;
	clear: left;
}

form ul label {
	margin-top: 4px;
	float: left;
}

form input[type="text"], form select {
	width: 160px;
	margin-top: 2px;
	margin-bottom: 2px;
}

form select {
	margin-right: 4px;
}

span.note {
	color: #888;
	font-size: 0.8em;
}

fieldset {
	padding-top: 3px;
	padding-bottom: 7px;
}

.checksum {
	font-family: Courier;
	white-space: pre-wrap;
	font-size: 0.7em;
}

.code {
	font-family: Courier;
	background: #e8e8e8;
}

/*================================================================================================*/
/*====  S R T G E A R S   O N L I N E   P A G E  =================================================*/
/*================================================================================================*/
#sgo ul label {
	width: 220px;
}

#sgo input[type="checkbox"] {
	margin: 3px 147px 5px 0px;
}

#submitGearItId {
	width: 130px;
	font-weight: bold;
	margin-right: 10px;
}

#submitGearItId, #resetId {
	height: 30px;
}

/*================================================================================================*/
/*====  L I C E N S E   P A G E  =================================================================*/
/*================================================================================================*/
.license {
	max-width: 570px;
	font-family: monospace;
}

/*================================================================================================*/
/*====  D O W N L O A D S   P A G E  =============================================================*/
/*================================================================================================*/
.dlTable {
	margin-top: 10px;
}

/*================================================================================================*/
/*====  F O O T E R  =============================================================================*/
/*================================================================================================*/
#footer {
	clear: both;
	padding: 6px 10px 6px 10px;
	background: #ccc;
	border-top: 1px solid #888;
	font-style: italic;
	font-size: 0.8em;
	font-style: italic;
	padding: 6px 10px 6px 10px;
	padding: 6px 10px 6px 10px;
}